table
  margin: 0 auto
  background: #181a1b
  border-spacing: 0px
  border-color: none
  width: 100%
  text-align: center

td
  padding: 18px 28px 18px

th
  background-image: linear-gradient(0deg, #35383a47, #181a1b)

td
  border-top: 1px solid #464646
  border-right: 1px solid #464646
td:last-child
  border-right: none

tr:nth-child(2n)
  background: #1d1f20